In [1]:
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np
from Player import *
from Main import processActions

figW = 15
figH = 8.5

pd.set_option('display.precision', 2)
pd.set_option('display.max_columns', None)
df = pd.read_csv('BigBearStats.csv', index_col=2)
badColumns = ['Date/Time', 'Point Elapsed Seconds','Player 7', 'Player 8', 
           'Player 9', 'Player 10', 'Player 11', 'Player 12', 'Player 13', 'Player 14', 
           'Player 15', 'Player 16', 'Player 17', 'Player 18', 'Player 19', 'Player 20', 
           'Player 21', 'Player 22', 'Player 23', 'Player 24', 'Player 25', 'Player 26', 
           'Player 27', 'Elapsed Time (secs)', 'Begin X', 'Begin Y', 'End X', 'End Y', 
           'Distance Unit of Measure', 'Absolute Distance', 'Lateral Distance', 'Toward Our Goal Distance', 'Begin Area', 'End Area']
def getPlayers(df):
    players = {}
    playerColNames = ['Player 0', 'Player 1', 'Player 2', 'Player 3', 'Player 4', 'Player 5', 'Player 6']
    for col in playerColNames:
        for playerName in df[col]:
            curPlayer = Player(playerName)
            players.update({playerName: curPlayer})
    return players
df = df.drop(badColumns, axis=1)
players = getPlayers(df) 
playersDF = pd.DataFrame.from_records((vars(player) for player in list(players.values())), index='name')
df = df.rename(columns={'Tournamemnt': 'Tournament'})
players, pullsHangTime = processActions(df, players)
playersDF = pd.DataFrame.from_records((vars(player) for player in list(players.values())), index='name')
playersDF.drop(['pointsWhenPlaying', 'games','numGamesPlayed', 'pulls'], axis=1, inplace=True)

In [14]:
import pandas as pd
data = {'state':['CA', 'CA', 'NY', 'NY', 'TX', 'TX'], 'year':[2000, 2010, 2000, 2010, 2000, 2010], 'population': [9011, 23123, 8771, 21321, 2222, 20111]}
df = pd.DataFrame(data)
df

  state  year  population
0    CA  2000        9011
1    CA  2010       23123
2    NY  2000        8771
3    NY  2010       21321
4    TX  2000        2222
5    TX  2010       20111

In [22]:
data  = {'year': [1996, 2000, 2004, 2008], 'name': ['Clinton', 'Bush', 'Bush', 'Obama'], 'party':['Democrat', 'Republican', 'Republican', 'Democrat']}
df = pd.DataFrame(data)
df

   year     name       party
0  1996  Clinton    Democrat
1  2000     Bush  Republican
2  2004     Bush  Republican
3  2008    Obama    Democrat

In [29]:
list1 = []
list2 = []
list3 = []
list1.append(2012)
list2.append('Obama')
list3.append('Democrat')
df = pd.DataFrame({'year': list1, 'name': list2, 'party': 'list3'})
df

   year   name  party
0  2012  Obama  list3